body {
  background-color: #f1f5f9;
  color: #1e293b;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
}

main {
  flex-grow: 1;
  max-width: 60ch;
  margin: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.15rem;
  margin-bottom: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem #cbd5e1;
}

h3 {
  font-size: 0.6rem;
  color: #64748b;
}

button {
  background-color: #64748b;
  color: #f1f5f9;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* Components */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.add-sticker-widget {
  position: absolute;
  top: -1.5rem;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.3rem;
  background-color: #f8fafc;
  z-index: 11;
}

.add-sticker-widget__group {
  background-color: #f1f5f9;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.add-sticker-widget__option {
  display: flex;
  align-items: center;
}

.add-sticker-widget__option input {
  cursor: pointer;
}

.add-sticker-widget__option label {
  padding: 0 0.5rem;
  white-space: nowrap;
  cursor: pointer;
}
